<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="True">
  <title><?php // Print the page title.
	if (defined('TITLE')) { // Is the title defined?
		print TITLE;
	} else { // The title is not defined.
		print 'Raise High the Roof Beam! A J.D. Salinger Fan Club';
	}
	?></title>
  <link rel="stylesheet" type="text/css" media="screen" href="css/concise.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/masthead.css" />
</head>
<body>

<header container class="siteHeader">
  <div row>
    <h1 column=4 class="logo"><a href="index.php">Raise High the Roof Beam!</a></h1>
    <nav column="8" class="nav">
      <ul>
        <li><a href="books.php">Books</a></li>
        <li><a href="#">Stories</a></li>
        <li><a href="#">Quotes</a></li>
        <li><a href="login.php">Login</a></li>
        <li><a href="register.php">Register</a></li>
     </ul>
    </nav>
  </div>
</header>

  <main container class="siteContent">
  <!-- BEGIN CHANGEABLE CONTENT. -->
		<!-- Script 8.6 - header.html -->
